.main-nav{
    width: 100vw;
    background: transparent !important;
    position: fixed;
  }
  
  .nav-ul{
    list-style: none;
  }
  .nav-ul a{
    text-decoration: none;
    color: var(--dark);
    font-family: var(--nav-font);
    font-variant: small-caps;/*  */
    margin-left: 20px;
  }
  #menu{
    display: none; 
  }
  @media screen 
    and (min-device-width: 1200px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
      #menu{
        display: flex;  
      }
      .slicknav_menu{
          display: none;
      }
      .nav-and-logo-container{
        width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }
  }

  @media screen 
    and (min-device-width: 1400px) 
    and (-webkit-min-device-pixel-ratio: 1){
      .nav-and-logo-container{
        width: 1200px; 
      }
    }
  
  .slicknav_menu{
   
  }