/* _______________________________________________WORKED FOR section */

.worked-for-elipse-white{
    width: 300vw;
    top: -30vh;
    left: -100vw;
  }
  
  .worked-for-elipse-purple{
    width: 70px;
    left: 10px;
    top: 150vh;
  
    z-index: -9;
  
  }
  
  .worked-for-elipse-pink{
    width: 120px;
    right: 10px;
    top: 70vh;
  
    z-index: -9;
  }
  
  .worked-for-logo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .client-logo{
    width: 40%;
    margin-bottom: 60px;
  }