.button{
    width: 200px;
    height: 50px;
    background-color: var(--purple);
    border-radius: 25px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }